.kaggle/kaggle.json
.DS_Store
kaggle/original/__pycache__/*
kaggle/submission/__pycache__/*
kaggle/submission_flash/__pycache__/*
kaggle/input/google-code-golf-2025/code_golf_utils/__pycache__/*
.env
